@page
@model AddModel
@{
    ViewData["Title"] = "Add";
}

    <div id="add-wrapper">
        <div id="add-task" class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">추가</h4>
                <hr>
                <form action="/tasks/add" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <select class="custom-select" name="subjectId">
                                @foreach (var subject in Model.Subjects)
                                {
                                    <option value="@subject.SubjectId">@subject.Name</option>
                                }
                            </select>
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <input name="summary" class="form-control" placeholder="요약" type="text" required autocomplete="off">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <input name="content" class="form-control" placeholder="내용" type="text" autocomplete="off">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <input name="deadLine" class="form-control" placeholder="검사 (YYYY-MM-DD)" type="datetime" required autocomplete="off">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> 추가  </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->

        <div id="add-subject" class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">과목 추가</h4>
                <hr>
                <form action="/subjects/add" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <input name="name" class="form-control" placeholder="이름" type="text" required autocomplete="off">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> 추가  </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->
    </div>