/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    font-family: 'Godo', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Home
-------------------------------------------------- */

#tasks {
    grid-area: tasks;
    padding-left: 0;
}

#tasks .card-title.checked {
    text-decoration: line-through;
    color: #bbb;
}
.urgent {
    color: red !important;
}

#tasks .card-body {
    max-height: 100px;
    padding: 10px;
    visibility: visible;
    overflow: auto;
    color: black;
    transition: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
    #tasks .card-body.collapsable {
        max-height: 1.7rem;
        padding: 0 10px;
        visibility: collapse;
        overflow: hidden;
        color: white;
    }

    #tasks .card-body::before {
        position: absolute;
        visibility: hidden;
        content: "";
    }
    #tasks .card-body.collapsable::before {
        position: absolute;
        visibility: visible;
        color: gray;
        content: "Hover to view Content";
        transition: ease;
        transition-duration: 0.2s;
        transition-delay: 0.4s;
    }

#tasks .card:hover .card-body {
    max-height: 100px;
    overflow-y: scroll;
    padding: 10px;
    color: black;
    visibility: visible;
    transition-delay: 0.2s;
}

    #tasks .card:hover .card-body::before {
        visibility: collapse;
        color: white;
        transition-delay: 0s;
    }

    #tasks .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: ease;
        transition-duration: 0.2s;
    }

.custom-control-label::after, .custom-control-label::before {
    top: 0;
    width: 1.5rem;
    height:1.5rem;
}

#tasks .card {
    margin-bottom: 16px;
}

#tasks .card{
    margin-bottom: 0.5rem;
}

#tasks .card:last-child {
    margin: 0;
    margin-bottom: 1rem;
}

.subject-name {
    padding: 0.2rem 1rem;
}

#notice {
    grid-area: notice;
    margin-bottom: 1rem;
}

.custom-control-label:checked ~ .card-title {
    text-decoration: line-through;
}

#home-wrapper {
    display: grid;
    grid-template-areas: 
        'tasks notice';
    grid-template-columns: 1fr 1.2fr;    
}

@media (max-width: 991px) {
    #home-wrapper {
        grid-template-areas: 'notice' 'tasks';
        grid-template-columns: 1fr;
    }

    #tasks {
        padding: 0;
    }

    #notice {
        margin-bottom: 1.5rem;
    }

    #tasks .card-body::before {
        content: "Tap to view content";
    }
}

body, body > .container {
    height: 100%;
}

/* Login */
#login-wrapper {
    display: grid;
    grid-template-areas: 'login signup';
}

#login-card {
    grid-area: login;
    margin-right: 2rem;
}

#signup-card {
    grid-area: signup;
}

@media (max-width: 778px) {
    #login-wrapper {
        grid-template-areas: 'login' 'signup';
    }

    #login-card {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

/* Add */
#add-wrapper {
    display: grid;
    grid-template-areas: 'task subject';
}

#add-task {
    grid-area: task;
    margin-right: 2rem;
}

#add-subject {
    grid-area: subject;
}

@media (max-width: 778px) {
    #add-wrapper {
        grid-template-areas: 'task' 'subject';
    }

    #add-task {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}